<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content%></title>
    <style>
        div{
            width: 50vw;
            height: 50vh;
            border:1px solid black;
            margin: auto;
            margin-top: 25vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        div p{
            font-size: 3rem;
            font-weight: 800;
            font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <div>
        <p><%= content%>!</p>
    </div>
    
</body>
</html>